.infCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 7px;
    gap: 24px;

    position: relative;
    width: 627px;
    height: 160px;

    background: #002853;
    border-radius: 10px;

    margin: 0.7rem;
    cursor: pointer;
}

.infCard-picture-frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;

    width: 130px;
    height: 130px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.infCard-picture {
    width: 110px;
    height: 110px;

    border: 3px solid #FF4820;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.infCard-text-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;

    width: 182px;
    height: 126px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.infCard-name {

    width: 182px;
    height: 20px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.infCard-username {
    width: 182px;
    height: 18px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    
    color: #A69D9D;
    
    
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.infCard-categories {
    width: 182px;
    height: 78px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    
    color: #FFFFFF;
    
    
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}